.mainhos {
  height: auto;
  width: 100%;
  background-color: aqua;
}
.mainhos form {
  text-align: center;
}

#UserCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cardBody {
  height: 200px;
  width: 200px;
  background-color: green;
  gap: 20%;
  margin-bottom: 80px;
}
